.jumbotron {
  padding-top: 2rem;
  background-color: #a2d99f;
}
.contact {
  background-color: #a2d99f;
}
.footer {
  background-color: #a2d99f;
}
.card:hover {
  background-color: #a2d99f;
}
